<h1>Enter in the word, words, sentences, and/or numbers that you'd like to have the Scrabble points calculated for...</h1>
<form action='/result'>
  <div class="form-group">
    <label for="input">Your name</label>
    <input id="input" name="input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Calculate!</button>
</form>
